#img1 {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    align-items: center;
}

#img2 {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    align-items: center;
}

#img3 {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    align-items: center;
}

#img4 {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    align-items: center;
}
